<div class="container-home">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <p>Inicio</p>
                </div>
                <div class="card-body">
                    <div class="card-body" >
                        <div class="box-user">
                            <div class="row mb-4">
                                <div class="col-lg-4 col-xs-12 col-sm-12">
                                  <div class="form-outline">
                                    <label class="label" for="form6Example1"><b>RUT:</b> {{ dataUser.rut }}</label>
                                  </div>
                                </div>
                                <div class="col-lg-4 col-xs-12 col-sm-12">
                                  <div class="form-outline">
                                    <label class="label" for="form6Example2"><b>Nombre:</b> {{ dataUser.nombre }}</label>
                                  </div>
                                </div>
                            </div>
    
                            <div class="row mb-4">
                                <div class="col-lg-4 col-xs-12 col-sm-12">
                                  <div class="form-outline">
                                    <label class="label" for="form6Example1"><b>Saldo:</b> ${{ dataUser.saldo }}</label>
                                  </div>
                                </div>
                                <div class="col-lg-4 col-xs-12 col-sm-12">
                                  <div class="form-outline">
                                    <label class="label" for="form6Example2"><b>Tipo de cuenta:</b> {{ dataUser.tipo_cuenta }}</label>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
