.container-logo-replay{
    text-align: center;
    margin-bottom: 20px;
}

.container-login{
    width: 30%;
    margin:auto;
    margin-top:10%;
}
@media (max-width: 1000px) {
.container-login{
    width: 80vw ;
    margin:auto;
    margin-top:10%;
}
}

.card-container{
    padding: 50px;
}
.section-btn-login{
    margin-top:30px;
}
.btn-replay-login{
    background-color:#4F2D7F;
    color:white;
    padding: 7px 40px 7px 40px;
}

.btn-replay-login:hover{
    box-shadow: 0px 0px 1px 0.5px  #5e4186;
}

.close-modal_pass{
    background-color:#4F2D7F;
    color:white;
    padding: 1px 5px 1px 5px;
}

.input_login::placeholder {
    font-size: 14px;
    font-weight: 500;
}

.label{
    font-weight: 600;   
    font-size: 14px;
    color: rgba(#000,.5);
    transform-origin: 0 0;
    transform: translate3d(0,0,0);
    transition: all .2s ease;
    pointer-events: none;
} 

.input_login{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 12px 12px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: inset 0 -1px 0 rgba(#000,.3);
    color: #000;
    transition: all .15s ease;
    box-shadow: inset 0 -1px 0 rgb(185, 184, 184);
}

.input_login:hover{
    box-shadow: inset 0 -1px 0 rgba(rgb(29, 29, 29),.5)
}

.input_login:focus{
    outline: none;
    box-shadow: inset 0 -2px 0 #5e4186;
    color: rgb(37, 37, 37);
    transform: translate3d(0,-12px,0) scale(.75);
    transform: scaleX(1);
    transition: all .1s ease;
}

.label-need-password{
    color:#4F2C80;
    font-weight: bold;
    font-size: 14px;
}

