.container-contact{
    padding:0px;
    }
    .card-header{
    background-color: rgba(244,240,249);
    font-weight: 500;
    min-height: 72px;
    display:flex;
    align-items:center;
    color:#4F2C80;
    font-size: 18px;
    }
    .card-body {
    height:100vh;
    padding:20px;
    }
    .box-user{
    border:2px solid #ded7e7;
    padding:20px;
    border-radius: 10px;
    }
    p{
    margin-bottom: 0rem;
    }
    .input_login{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 12px 12px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: inset 0 -1px 0 rgba(#000,.3);
    color: #000;
    transition: all .15s ease;
    box-shadow: inset 0 -1px 0 rgb(185, 184, 184);
    }
    
    .input_login:hover{
    box-shadow: inset 0 -10px 0 rgba(rgb(29, 29, 29),.5)
    }
    
    .input_login:focus{
    outline: none;
    box-shadow: inset 0 -2px 0 #5e4186;
    color: rgb(37, 37, 37);
    transform: translate3d(0,-12px,0) scale(.75);
    transform: scaleX(1);
    transition: all .1s ease;
    }
    
    .label{
    font-weight: 400;   
    font-size: 14px;
    color: rgba(#000,.5);
    transform-origin: 0 0;
    transform: translate3d(0,0,0);
    transition: all .2s ease;
    pointer-events: none;
    } 
    
    .btn-create-contact{
    background-color:#4F2C80;
    color:white;
    padding: 7px 30px 7px 30px;
    font-weight: 500;
    border-radius: 15px;
    }
    
    .btn-create-contact:hover{
    box-shadow: 0px 0px 1px 0.5px  #5e4186;
    }
    
    .btn-create-contact:active{
    box-shadow: 0px 0px 13px 0.5px  #5e4186;
    }
    
    select {
    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    width:100%;
    
    /* reset */
    
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    padding: .25em;
    border: 0;
    border-bottom: 1px solid rgb(185, 184, 184); 
    font-weight: 400;
    border-radius: 0;
      }
      
    select.round {
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
    background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
    background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
    background-repeat: no-repeat;
    }
    
    select.round:focus {
    background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
    background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - .5em) .5em;
    background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
    background-repeat: no-repeat;
    border-color: #5e4186;
    box-shadow: inset 0 -1px 0 #5e4186;
    outline: 0;
    }
      
    
    