.container-transferencia{
    padding:0px;
}

.card-header{
    background-color: rgba(244,240,249);
    font-weight: 500;
    min-height: 72px;
    display:flex;
    align-items:center;
    color:#4F2C80;
    font-size: 18px;
}

.card-body {
    height:100vh;
    padding:20px;
}

.box-user{
    border:2px solid #ded7e7;
    padding:20px;
    border-radius: 10px;
}

.input_select2{
    margin-left: 10px;;
}

.label{
    font-weight: 500;   
    font-size: 14px;
    color: rgba(#000,.5);
    transform-origin: 0 0;
    transform: translate3d(0,0,0);
    transition: all .2s ease;
    pointer-events: none;
} 

.content-submit{
    display:flex;
    align-items:flex-end;
}

.btn-transf-submit{
    background-color:#4F2C80;
    color:white;
    padding: 7px 30px 7px 30px;
    font-weight: 500;
    border-radius: 15px;
    margin-left:20px;
}

.btn-transf-submit:active{
    box-shadow: 0px 0px 13px 0.5px  #5e4186;
}

